{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block search %}
    <div id="toolbar">
        <form id="changelist-search" method="get">
            <div>
                <!-- Search input -->
                <input type="text" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus>
                <input type="submit" value="Search" class="button">
                
                <!-- Export CSV Button -->
                {% if export_all_url %}
                    <a href="{{ export_all_url }}" class="button" style="background-color: #417690; color: white; margin-left: 10px; text-decoration: none;">
                        Export CSV
                    </a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
